/* BalanceSheetTable.css */
body {
  display: flex;
  justify-content: center;
  padding: 20px;
}
h1 {
  color: #fff;
  display: block;
  font-size: 3rem !important;
  width: 70rem;
  height: 5rem;
  background-color: #007bff;
  text-align: center;
}

.balance-sheet-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.balance-sheet-table th,
.balance-sheet-table td {
  padding: 8px;
  text-align: left;
}

.balance-sheet-table th {
  background-color: #f2f2f2;
}

.balance-sheet-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.balance-sheet-table tr:hover {
  background-color: #ddd;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* Styling for the paragraph */
p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Styling for the button */
.outcome,
.details {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.container {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f0f0f0; */
}

/* Card Styling */

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content > div {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.5rem; /* Increase font size */
  font-weight: bold; /* Increase font weight */
}
